body {
    margin: 0;
    padding: 0;
    background-image: url(img/bem-te-vi.png);
    background-size: cover;
    color: #333;
    line-height: 1.6;
    font-family: 'Arial';
}

header {
    background-color: rgb(187, 203, 100); 
    color: white;
    padding: 20px ;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    

}

header h1 {
    margin: 0;
    font-size: 2em;
}

header p {
    margin: 5px 0 0 0;
    font-size: 1.1em;
    opacity: 0.9;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

h2 {
    color: rgb(187, 203, 100);
    border-bottom: 2px solid #e0e0e0;
    padding-bottom: 10px;
    margin-top: 0;
}


div#cadastro, div#painel, div#historico {
    padding: 25px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}


#form-cadastro div {
    margin-bottom: 15px;
}

#form-cadastro label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

#form-cadastro input[type="text"], 
#form-cadastro select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box; 
    font-size: 1em;
}


#feedback-cadastro {
    margin-top: 15px;
    padding: 10px
}

button{
    background-color: rgb(187, 203, 100);
    border: none;
    padding: 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}