* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  color: #f0f8ff;
}
body {
  background-image: url(img/bem-te-vi.png);
  background-size: cover;
  line-height: 1.6;
}

header {
  border: 1px solid rgba(245, 245, 245, 0.342);
  box-shadow: 0 1px 5px #ccccccbe;
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: inset 0 1px 5px #ccccccbe;
  backdrop-filter: blur(7px);
  border-radius: 10px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

header p {
  margin: 5px 0 0 0;
  font-size: 1.1em;
  opacity: 0.9;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h2 {
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 10px;
  margin-top: 0;
}

div#cadastro,
div#painel,
div#historico {
  padding: 25px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.075);
  backdrop-filter: blur(15px);
  border-radius: 50px;
  border: 1px outset rgba(245, 245, 245, 0.342);
  box-shadow: inset 0 1px 8px #ccccccc5;
  backdrop-filter: blur(7px);
}

#form-cadastro div {
  margin-bottom: 15px;
}

#form-cadastro label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#form-cadastro input[type="text"],
#form-cadastro select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  box-sizing: border-box;
  font-size: 1em;
  border: 1px outset rgba(245, 245, 245, 0.342);
  box-shadow: inset 0 1px 5px #ccccccbe;
  background-color: rgba(255, 255, 255, 0.24);
  backdrop-filter: blur(10px);
}

#feedback-cadastro {
  margin-top: 15px;
  padding: 10px;
}

button {
  background-color: rgba(255, 255, 255, 0.274);
  backdrop-filter: blur(10px);
  border: 1px outset rgba(245, 245, 245, 0.342);
  box-shadow: inset 0 1px 5px #ccccccbe;
  padding: 10px;
  border-radius: 18px;
  cursor: pointer;
}
